@media screen and (max-device-width: 768px) {
  .wrap {
    width: 100%;
    padding: 20px;
    position: relative;
  }
  .wrap header {
    width: 100%;
  }
  .wrap .info {
    width: 100%;
    margin-top: 20px;
  }
  .wrap .info .title {
    font-size: 40px;
  }
  .wrap .info .subtitle {
    width: 370px;
    font-size: 14px;
  }
  .wrap .forms {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .wrap .forms form {
    width: 390px;
  }
  .wrap .forms #uploadForm p {
    width: 300px;
  }
  .wrap .forms #downloadForm {
    margin: 40px 0;
  }
  .wrap .forms #downloadForm p {
    width: 300px;
  }
}
@media screen and (max-device-width: 430px) {
  .wrap {
    width: 100%;
    padding: 20px;
  }
  .wrap .burgerCon {
    width: 100%;
    height: 110vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2862745098);
    justify-content: center;
    align-items: center;
    top: -40px;
  }
  .wrap .burgerCon .burgerPopup {
    width: 300px;
    height: 70px;
    border-radius: 20px;
    background-color: #fff;
    position: relative;
    padding: 20px;
    display: flex;
  }
  .wrap .burgerCon .burgerPopup #burgerXmark {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    cursor: pointer;
  }
  .wrap .burgerCon .burgerPopup #languageChanger {
    border: none;
    outline: none;
    font-family: Oxygen;
    font-size: 20px;
    font-weight: 400;
    height: 30px;
  }
  .wrap .burgerCon .burgerPopup .themeChanger {
    width: 55px;
    height: 30px;
    border-radius: 20px;
    background-color: #332C39;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    margin-left: 20px;
  }
  .wrap .burgerCon .burgerPopup .themeChanger .themeChanger_circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px #332C39 solid;
    background-color: #068FFF;
  }
  .wrap header {
    width: 100%;
  }
  .wrap header .languageThemeCon {
    display: none;
  }
  .wrap header .burger {
    display: flex;
  }
  .wrap .info {
    width: 100%;
    margin-top: 20px;
  }
  .wrap .info .title {
    font-size: 40px;
  }
  .wrap .info .subtitle {
    width: 370px;
    font-size: 14px;
  }
  .wrap .forms {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .wrap .forms form {
    width: 390px;
  }
  .wrap .forms #uploadForm p {
    width: 300px;
  }
  .wrap .forms #downloadForm {
    margin: 40px 0;
  }
  .wrap .forms #downloadForm p {
    width: 300px;
  }
}
@media screen and (max-device-width: 376px) {
  .wrap {
    width: 100%;
    padding: 20px;
  }
  .wrap header {
    width: 100%;
  }
  .wrap header .languageThemeCon {
    display: none;
  }
  .wrap header .burger {
    display: flex;
  }
  .wrap .info {
    width: 100%;
    margin-top: 20px;
  }
  .wrap .info .title {
    font-size: 40px;
  }
  .wrap .info .subtitle {
    width: 100%;
    font-size: 12px;
  }
  .wrap .forms {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .wrap .forms form {
    width: 100%;
  }
  .wrap .forms #uploadForm p {
    width: 300px;
  }
  .wrap .forms #downloadForm {
    margin: 40px 0;
  }
  .wrap .forms #downloadForm p {
    width: 300px;
  }
}
@media screen and (max-device-width: 321px) {
  .wrap {
    width: 100%;
    padding: 20px;
  }
  .wrap .burgerCon {
    padding: 20px;
  }
  .wrap .burgerCon .burgerPopup {
    width: 100%;
  }
  .wrap header {
    width: 100%;
  }
  .wrap header .languageThemeCon {
    display: none;
  }
  .wrap header .burger {
    display: flex;
  }
  .wrap header .logo {
    font-size: 22px;
  }
  .wrap .info {
    width: 100%;
    margin-top: 20px;
  }
  .wrap .info .title {
    font-size: 40px;
  }
  .wrap .info .subtitle {
    width: 100%;
    font-size: 12px;
  }
  .wrap .info .underline {
    width: 90%;
  }
  .wrap .forms {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .wrap .forms form {
    width: 100%;
  }
  .wrap .forms #uploadForm p {
    width: 100%;
    font-size: 16px;
  }
  .wrap .forms #uploadForm .custom-file-label {
    width: 120px;
    height: 120px;
    font-size: 64px;
  }
  .wrap .forms #uploadForm .fileInputCon {
    flex-direction: column;
  }
  .wrap .forms #uploadForm .uploadFile {
    margin-top: 20px;
  }
  .wrap .forms #downloadForm {
    margin: 40px 0;
  }
  .wrap .forms #downloadForm p {
    width: 100%;
    font-size: 16px;
  }
  .wrap .forms #downloadForm .downloadForm_icon {
    width: 120px;
    height: 120px;
    font-size: 64px;
  }
  .wrap .forms #downloadForm .codeInputBtnCon {
    flex-direction: column;
  }
  .wrap .forms #downloadForm .saveFile {
    margin-top: 20px;
  }
}/*# sourceMappingURL=adapt.css.map */